html {
          scroll-behavior: smooth;
}

body {
          background-color: black;
          color: #F4DFC8;

}

.circle {
          visibility: hidden;
}

.circle2 {
          visibility: hidden;
}

.circle3 {
          visibility: hidden;
}

/* Navbar */

.Navbar {
          padding-top: 1.50%;
          margin-left: 6%;
}

.nav {
          position: relative;
          display: inline;
          list-style-type: none;
          font-size: 1rem;
          text-decoration: none;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;

}

.logo-right {
          margin-bottom: 4%;
          position: relative;
          padding-left: 43%;
          list-style-type: none;
}

a {
          text-decoration: none;
          color: white;
}

a:hover {
          color: #F4DFC8;
}


.Logo {
          height: 70px;
}

h1 {
          position: relative;
          font-family: 'Sacramento', cursive;
          font-size: 300%;
          padding-top: 6%;
}

p {
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 188%;
}

.Home-container {
          position: absolute;
          margin-left: 2rem;
}

.hire-me {
          background-color: #F4DFC8;
          width: 40%;
          height: 375%;
          cursor: pointer;
          border-radius: 1.87rem 0.62rem 1.87rem 1.25rem;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 150%;
}

.resume {
          margin-left: 2rem;
          border: solid 0.2rem;
          border-color: #F4DFC8;
          background-color: transparent;
          width: 40%;
          height: 375%;
          cursor: pointer;
          border-radius: 0.62rem 1.87rem 1.25rem 1.87rem;
          color: #F4DFC8;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 150%;
}

.Social-media img {
          height: 33px;
}

.Social-media {
          padding-left: -2rem;
          padding-top: 4rem;

}

.Social-mediaicon {
          padding-left: 1rem;

}


/* About */
.About-container {
          position: relative;
          margin-top: 200%;
}

.About-image {

          padding-left: 40%;
          padding-top: 4%;

}

.Aboutme {
          margin-top: 10%;
          padding-left: 35%;
          font-size: 300%;
}

.About-paragraph {
          padding-bottom: 10%;
          position: relative;
          width: 100%;
          font-size: 150%;
}

/* Contact */
.Contact-container {
          position: relative;
}

.Get-in-touch {
          margin-top: 50%;
          padding-left: 35%;
          font-size: 300%;
}

/*  */

.Contact-paragraph {
          margin-left: -30%;
          padding-bottom: 10%;
          position: relative;
          font-size: 150%;
}

.Contact-paragraph2 {
          margin-left: 5%;
          margin-top: 5%;
          padding-bottom: 10%;
          position: relative;
          text-align: center;
          width: 110%;
          font-size: 150%;
}

.Message-me {

          margin-left: 2.5%;
          border: solid 0.2%;
          border-color: #F4DFC8;
          background-color: transparent;
          width: 60%;
          height: 375%;
          cursor: pointer;
          border-radius: 2rem;
          color: #F4DFC8;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 130%;
}

.Phone {
          visibility: hidden;
}

.a1 {
          margin-left: 20%;

}

.bottom-para {
          margin-top: 10%;
          margin-bottom: 3%;
          font-size: 100%;
          text-align: center;
}

.homenave{
          padding-left:65%;
}
