html {
          scroll-behavior: smooth;
}

body {
          background-color: black;
          color: #F4DFC8;

}

/* Navbar */
.Navbar {
          padding-top: 30px;
}

.nav {
          position: relative;
          display: inline;
          list-style-type: none;
          font-size: 1.55rem;
          margin-right: 1.5rem;
          text-decoration: none;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;

}

.logo-right {
          position: absolute;
          padding-left: 3rem;
          list-style-type: none;
}

a {
          text-decoration: none;
          color: white;
}

a:hover {
          color: #F4DFC8;
}


.Logo {
          height: 70px;
}

h1 {
          position: relative;
          font-family: 'Sacramento', cursive;
          font-size: 3.75rem;
          padding-top: 6rem;
}

p {
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 1.88rem;
}

.Home-container {
          position: absolute;
          margin-left: 5rem;
}

.hire-me {
          background-color: #F4DFC8;
          width: 10.5rem;
          height: 3.75rem;
          cursor: pointer;
          border-radius: 1.87rem 0.62rem 1.87rem 1.25rem;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 1.88rem;
}

.resume {
          margin-left: 2rem;
          border: solid 0.2rem;
          border-color: #F4DFC8;
          background-color: transparent;
          width: 10.5rem;
          height: 3.75rem;
          cursor: pointer;
          border-radius: 0.62rem 1.87rem 1.25rem 1.87rem;
          color: #F4DFC8;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 1.88rem;
}

.circle {
          position: absolute;
          margin-left: 42rem;
          margin-top: 2rem;
          height: 6.75rem;
          width: 6.75rem;
          border-radius: 100%;
          background-color: #F4DFC8;
}
#homenave
{
          padding-left: 65rem;
}

.circle2 {
          position: absolute;
          margin-left: 65rem;
          margin-top: 5rem;
          height: 20rem;
          width: 20rem;
          border-radius: 100%;
          background-color: #F4DFC8;
}

.circle3 {
          position: absolute;
          margin-left: 48rem;
          margin-top: 8rem;
          height: 30rem;
          width: 30rem;
          border-radius: 100%;
          background-color: #F4DFC8;
}

.Social-media {
          padding-left: -1rem;
          padding-top: 4rem;
}

.Social-mediaicon {
          padding-left: 1rem;
}

/* About */
.About-container {
          position: relative;
          margin-top: 49rem;
}

.About {
          /* position: relative; */
}

.About-image {

          padding-left: 40rem;
          padding-top: 4rem;

}

.Aboutme {
          margin-top: -1rem;
          padding-left: 35rem;
          font-size: 5rem;
}

.About-paragraph {
          margin: auto;
          padding-bottom: 10rem;
          position: relative;
          text-align: center;
          width: 46.5rem;
}

/* Contact */
.Contact-container {
          position: relative;
          align: center;
}

.Get-in-touch {
          margin-top: -1rem;
          padding-left: 35rem;
          font-size: 5rem;
}

.Contact-paragraph {
          margin: auto;
          padding-bottom: 10rem;
          position: relative;
          text-align: center;
          width: 46.5rem;
          font-size: 2rem;
}

.Contact-paragraph2 {
          margin-left: 25rem;
          margin-top: -8rem;
          padding-bottom: 3rem;
          position: relative;
          text-align: center;
          width: 40rem;
          font-size: 1.5rem;
}

.Message-me {

          margin-left: 2.5rem;
          border: solid 0.2rem;
          border-color: #F4DFC8;
          background-color: transparent;
          width: 22rem;
          height: 3.75rem;
          cursor: pointer;
          border-radius: 2rem;
          color: #F4DFC8;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 1.88rem;
}

.Phone {
          margin-left: 2rem;
          border: solid 0.2rem;
          border-color: #F4DFC8;
          background-color: transparent;
          width: 22rem;
          height: 3.75rem;
          cursor: pointer;
          border-radius: 2rem;
          color: #F4DFC8;
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 1.88rem;
          margin-bottom: 3rem;
}

.a1 {
          margin-left: 20rem;
                  
}
.bottom-para{
          margin-top: 3rem;
          margin-bottom: 3rem;
          font-size: 1rem;
          text-align: center;
}